/*Global Usage */

html {
    font-size: 20px;
    background-color: rgba(255, 192, 203, 0.4);
    scroll-behavior: smooth;
    color: white;
    text-shadow: 0px 0px 2px;
}

main {
    position: relative;
    top: 3.5rem;
    text-align: center;
    padding-bottom: 12rem;
}

.topic {
    background:
        linear-gradient(rgba(189, 201, 255, 0.8),
            rgba(158, 211, 246, 0.8));
}

@media only screen and (max-width: 880px) {
    main {
        top: 6.65rem;
    }
}


/* Header*/

/* primary color for the header 158, 211, 246 */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    padding-bottom: .25em;
    border-bottom: 1px solid white;
    z-index: 5;
    background:
        linear-gradient(rgba(189, 201, 255, 0.8),
            rgba(158, 211, 246, 0.8));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

}

header .content {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    justify-content: space-between;
    flex: 1 2 1;
}

header .logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 1px 1px 4px pink;
}

header .content nav li {
    /* Right Side */
    display: inline-flex;
    padding: 1em;
}

header .content nav li a {
    /* Right Side */
    color: white;
    text-shadow: 0px 0px 4px pink;
    font-weight: bolder;
}

header #mobile {
    display: none;
}

@media only screen and (max-width: 850px) {

    header .content {
        display: block;
        width: 100%;
        font-size: .85rem;
        padding: 0.8rem 0;
    }

    header .content ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    header h1 {
        text-align: center;
    }

}

@media only screen and (max-width: 450px) {
    header #mobile {
        display: block;
        padding: auto;
        text-align: center;
    }

    header #normal {
        display: none;
    }

    header .content {

        padding: 1.79rem 0;
    }
}


/* Main Content */

/* Our Mission */
#banner {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    background: url('./images/bluesky.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.missionhead {
    width: 100%;
    height: auto;
    background-color: rgba(158, 211, 246, 0.4);
    border: 1px solid rgba(158, 211, 246, 0.1);
    box-shadow: 0px 0px 6px 1px rgba(158, 211, 246, 0.5);
    border-radius: 4px;
    margin: 2em 1em;
    flex: 2 1 auto;
}

.missionhead p{
    font-size: 0.875em;
}

.missionhead h2,
.missionhead p {
    margin: 0.5em 1em;
}

#mission {
    display: flex;
    width: 100%;
    color: white;
    scroll-margin: 15em;
}

#mission .card {
    margin: 2em 1em;
    height: 100%;
    width: auto;
    background-color: rgba(158, 211, 246, 0.4);
    border: 1px solid rgba(158, 211, 246, 0.1);
    box-shadow: 0px 0px 6px 1px rgba(158, 211, 246, 0.5);
    border-radius: 4px;
    flex: 1 2 auto;
}

#mission img {
    margin: .75em;
    width: 1.5em;
    height: 1.5em;
}

#mission .card p {
    padding: 0.75em 2em;
    font-size: 0.875em;
}

@media only screen and (max-width: 850px) {
    #mission {
        display: block;
        align-items: center;
        justify-content: center;
        height: 100%;
        scroll-margin: 50em;
    }

    .missionhead {
        justify-content: center;
        line-height: 1.4;
        margin: 2em;
        padding: 1em;
    }

    #mission .card {
        margin: 1em;
    }
}

@media only screen and (max-width: 450px) {

    .missionhead {
        margin: 1em;
    }
}

/*Jobs*/
#jobs {
    margin-top: 3.5em;
    margin-bottom: auto;
    scroll-margin: 3.5em;
}

#services {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    height: auto;

}

#services .container {
    margin: 1rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 0px 6px 2px rgb(193, 189, 255);
    background-color: rgb(189, 201, 255);
    transform: scale(1);
    transition: 1s;
    color: white;
    flex: 1;
}

#services .image-container img{
    position: relative;
    width: 100%;
    height: auto;
    border: 10px solid rgb(189, 201, 255);
}


#services .container:hover {
    transform: scale(1.1);
    transition: 1s;
}

#services .cardtxt {
    position: absolute;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 1s;
    color: white;
    margin: 0 .75em;
    border-radius: 4px;
    flex: 1;
    font-size: 0.875em;
}

#services .cardtxt:hover {
    opacity: 1;
    transition: 1s;
    background: rgba(193, 189, 255, 0.5);
    box-shadow: 0px 0px 10px 0px rgb(193, 189, 255);
    border-radius: 4px;
    flex: 2 1 auto;
}


@media only screen and (max-width: 1200px) {

    #jobs {
        scroll-margin: 6.74em;
    }

    #services {
        flex-flow: column;
        justify-content: center;
        align-content: center;
        height: 100%;
        width: auto;
        margin: 0 5rem;
        padding: 0rem 1rem 0 1rem;
    }

    #services .container:hover {
        transform: scale(1);
        transition: 0;
    }

    #services .cardtxt {
        padding: 1.5rem 0 1.5rem 0;
        opacity: 1;
        background: rgba(193, 189, 255, 0.5);
        box-shadow: 0px 0px 10px 0px rgb(193, 189, 255);
        border-radius: 4px;
    }

}

@media only screen and (max-width: 850px) {

    #services {
        margin: 1em;
    }

    #services .cardtxt {
        padding: 0;
        margin: 0 0.25em;
    }

    #services .cardtxt p {
        margin: 0 0.25em;
    }

    #jobs {
        margin-top: 1em;
    }

    #services .container {
        margin: 0.3em;
    }

}

@media only screen and (max-width: 380px) {

    .container .cardtxt p {
        font-size: 0.7em;
    }

}

/*About Us*/
#about-us {
    display: grid;
    margin: 3em 4em 0;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5em;
    background:
        linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(255, 192, 203, 0.4)),
        url('images/aboutusbg.jpg');
    background-size: cover;
    height: 27.5em;
    scroll-margin: 8.2em;
    border: 2px solid white;
    border-radius: 4px;
    box-shadow: 0 0 10px 4px rgb(191, 144, 152);

}

#about-us .leader {
    border-right: 2px solid rgba(158, 211, 246, 0.1);
    grid-row: 1 ;
    grid-column: 1;
    line-height: 1.7;
}

#about-us .gallery img {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px double;
}

.about {
    text-align: justify;
    grid-column: 2;
    grid-row: 1 / span 3;
    line-height: 1.3;
    margin: 0 0.5em;
    overflow: auto;
    
}

.about p {
    margin: 1.3em 0;
    font-size: 0.875em;
}

.desc {
    border-top: 2px solid rgba(158, 211, 246, 0.3);
    grid-column: 1;
    grid-row: 2 / span 2;
    overflow: scroll;
    font-size: 0.875em;
}

@media only screen and (max-width:760px) {
    #about-us {
        margin: 3em .75em 0;
        grid-template-rows: 0.6fr 1fr;
        gap: 0;
        line-height: 1.4;
        height: 40em;
        scroll-margin: 11.45em;
    }

    #about-us p {
        margin: 0.5em;
    }

    #about-us .gallery img {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 3px double;
    }

    .desc {
        border-top: 2px solid rgba(158, 211, 246, 0.3);
        grid-column: 1;
        grid-row: 2;
    }
}

@media only screen and (max-width: 480px) {
    #about-us {
        margin: 1em;
        grid-template-columns: 0fr 2fr;
        grid-template-rows: 1fr 2fr;
        scroll-margin: 9.5em;
    }

    #about-us .leader {
        grid-row: 1;
        grid-column: 2;
    }

    .desc {
        display: none;
    }

    .about {
        grid-row: 2;
    }

    #about-us .gallery img {
        width: 50%;
        display: block;
        border: 3px double;
    }
}


/*Footer*/
#footer {
    border-top: 1px solid white;
    background:
        linear-gradient(rgba(189, 201, 255, 0.8),
            rgba(158, 211, 246, 0.8));
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    padding-bottom: 0.5em;
}

#footer .content {
    display: flex;
    padding: 0 1em;
    justify-content: space-between;
    flex: 1 2 auto;
    width: 100%;
}

#footer .content nav li {
    /* Right Side */
    display: inline-flex;
    margin: 2em 1em 0;
}

#footer p {
    text-align: left;
    text-shadow: 1px 1px 4px pink;
    margin: 0 1em;
}

#footer a {
    color: white;
    text-shadow: 0px 0px 4px pink;
}

.item {
    align-self: center;
    padding-left: 25%;
}

@media only screen and (max-width: 760px) {
    footer .content {
        font-size: .85rem;
    }

    #footer p {
        font-size: 0.5rem !important;
    }
}
